#obfx-dash .socicon-facebook {
	color: #3b5998;
}

#obfx-dash .socicon-twitter {
	color: #1da1f2;
}

#obfx-dash .socicon-pinterest {
	color: #bd081c;
}

#obfx-dash .socicon-linkedin {
	color: #0077b5;
}

#obfx-dash .socicon-tumblr {
	color: #35465c;
}

#obfx-dash .socicon-reddit {
	color: #ff4500;
}

#obfx-dash .socicon-vk {
	color: #45668e;
}

#obfx-dash .socicon-odnoklassniki {
	color: #ee8208;
}

#obfx-dash .socicon-douban {
	color: #228a31;
}

#obfx-dash .socicon-baidu {
	color: #de0f17;
}

#obfx-dash .socicon-xing {
	color: #026466;
}

#obfx-dash .socicon-renren {
	color: #227ec7;
}

#obfx-dash .socicon-weibo {
	color: #e6162d;
}

#obfx-dash .socicon-viber {
	color: #00b901;
}

#obfx-dash  .socicon-whatsapp {
	color: #20b038;
}

#obfx-dash .socicon-mail {
	color: #58a9de;
}

#obfx-dash .socicon-telegram {
	color: #36aff3;
}
