.obfx-core-social-sharing-icons {
	position: fixed;
	list-style: none;
	padding: 0;
	margin: 10px 0;
	z-index: 10000;
	top: 25%;
}
.obfx-core-social-sharing-icons-left {
	left: 0;
}
.obfx-core-social-sharing-icons-right {
	right: 0;
}
.obfx-core-social-sharing-icons li {
	display: block;
}
.obfx-core-social-sharing-icons a {
	position: relative;
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
}
.obfx-core-social-sharing-icons i {
	text-align: center;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	padding-top: 5px;
}
.obfx-core-social-sharing-icons span {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	line-height: 30px;
	background: rgba(0,0,0,0.5);
	padding: 5px 10px;
	opacity: .75;
}
.obfx-core-social-sharing-icons-right span {
	left: -250%;
	right: 105%;
}
.obfx-core-social-sharing-icons-left span {
	right: -250%;
	left: 105%;
}
.obfx-core-social-sharing-icons a:hover > span {
	display: inline-block;
}
/* Social icons color */
.obfx-core-social-sharing-icons a[href*="facebook"] {
	background-color: #3b5998;
}
.obfx-core-social-sharing-icons a[href*="twitter"] {
	background-color: #1da1f2;
}
.obfx-core-social-sharing-icons a[href*="google"] {
	background-color: #dd4b39;
}
.obfx-core-social-sharing-icons a[href*="pinterest"] {
	background-color: #bd081c;
}
.obfx-core-social-sharing-icons a[href*="linkedin"] {
	background-color: #0077b5;
}
.obfx-core-social-sharing-icons a[href*="tumblr"] {
	background-color: #35465c;
}
.obfx-core-social-sharing-icons a[href*="reddit"] {
	background-color: #ff4500;
}
.obfx-core-social-sharing-icons a[href*="vk"] {
	background-color: #45668e;
}
.obfx-core-social-sharing-icons a[href*="ok.ru"] {
	background-color: #ee8208;
}
.obfx-core-social-sharing-icons a[href*="douban"] {
	background-color: #228a31;
}
.obfx-core-social-sharing-icons a[href*="baidu"] {
	background-color: #de0f17;
}
.obfx-core-social-sharing-icons a[href*="xing"] {
	background-color: #026466;
}
.obfx-core-social-sharing-icons a[href*="renren"] {
	background-color: #227ec7;
}
.obfx-core-social-sharing-icons a[href*="weibo"] {
	background-color: #e6162d;
}
