<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">core</directory>
			<exclude>
				<file>*index.php</file>
				<file>core/includes/class-orbit-fox-activator.php</file>
				<file>core/includes/class-orbit-fox-deactivator.php</file>
				<file>core/includes/class-orbit-fox-loader.php</file>
				<file>core/includes/class-orbit-fox-i18n.php</file>
				<directory suffix=".php">core/app/views</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
