.obfx-template-browser {
    padding: 35px 0 0;
}

.obfx-template-browser .template-name {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 15px;
}

.obfx-template {
    width: 22.7%;
    margin: 0 3% 3% 0;
    float: left;
    position: relative;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.obfx-template:nth-child(4n) {
    margin-right: 0;
}

.obfx-template-actions {
    float: right;
    padding: 10px;
}

.obfx-template-actions .button .dashicons {
    line-height: 27px;
}
.obfx-template-actions .button {
    margin-left: 5px;
}
.obfx-template-screenshot {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
}

.obfx-template img {
    max-width: 100%;
    float: left;
}

.obfx-template-browser.customizer {
    padding: 10px 20px 60px;
    display: block !important;
}

#customize-header-actions input.save {
    display: none;
}

.obfx-next-prev {
    position: absolute;
    left: 45px;
}

.obfx-next-prev span:hover {
    background: #ddd;
    border-color: #ccc;
    color: #000;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.obfx-next-prev .previous-template, .obfx-next-prev  .next-template {
    display: block;
    position: relative;
    float: left;
    width: 45px;
    height: 45px;
    padding-right: 2px;
    background: #eee;
    color: #444;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: color .1s ease-in-out,background .1s ease-in-out;
    transition: color .1s ease-in-out,background .1s ease-in-out;
    border: none;
    border-right: 1px solid #ddd;
}

.obfx-next-prev .previous-template {
    border-left: 1px solid #ddd;
}

.obfx-next-prev .next-template:before {
    font: 400 20px/1 dashicons;
    content: "\f345";
    position: relative;
    top: 6px;
    left: 14px;
}
.obfx-next-prev .previous-template:before {
    font: 400 20px/1 dashicons;
    content: "\f341";
    position: relative;
    top: 6px;
    left: 14px;
}

.obfx-custom-customizer {
    background: #fff;
}

.obfx-template-browser.customizer .obfx-template {
    display: none;
    width: 100%;
    margin: 0 0 20px 0;
    float: none;
    border: none;
    cursor: default;
}

#customize-controls .obfx-template-actions{
    padding:0;
}

.obfx-template-browser.customizer .obfx-template.active {
    display: inline-block;
}

.obfx-template-browser.customizer .template-name {
    padding-left: 0;
}

.obfx-template-browser.customizer .obfx-template-screenshot {
    border: 1px solid #ddd;
}

.obfx-hide {
    display: none;
}

.obfx-import-elementor-hidden-form {
    display: inline-block;
}

.obfx-done-import {
    color: green;
    margin: 0 10px;
}

.obfx-done-import .dashicons {
    font-size: 30px;
}
#customize-controls .obfx-done-import .dashicons {
    line-height: 50px;
}