@import "../vars";

.modules-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .module-card {
    background-color: #FFF;
    border: 1px solid #e1e1e1;

    .module-card-header {
      padding: 20px;
      border-bottom: 1px solid #e1e1e1;
      display: flex;
      position: relative;

      .title {
        margin: 0;
        font-size: 18px;
        line-height: 1.5;
        color: inherit;
      }

      .toggle-wrap {
        margin-left: auto;
        display: flex;
        align-items: center;

        div {
          margin-bottom: 0;
          margin-left: 5px;
        }

        span {
          margin-right: 0;
        }
      }

      p {
        position: absolute;
        top: 40px;
        right: 10px;
        padding: 10px;
        background-color: $obfx-purple;
        color: #fff;
        white-space: nowrap;
      }
    }

    .module-card-content {
      padding: 20px;

      .description {
        margin: 0;
        font-size: 15px;
        color: #616161;
      }
    }

    .module-settings {
      border-top: 1px solid #e1e1e1;

      &.open .accordion-header .accordion-title {
        color: #3c434a;
      }

      .accordion-header {
        padding: 15px 20px;
        background-color: #fff;
        outline: none;
        border: none;
        width: 100%;
        display: flex;
        cursor: pointer;

        .accordion-title {
          margin-right: auto;
          font-size: 15px;
          font-weight: 600;
          color: $obfx-purple;
          transition-duration: .25s;
          transition-timing-function: ease-out;
        }

        .dashicon {
          margin-left: auto;
          color: #646D82;
        }
      }

      .accordion-content {
        padding: 15px 20px;

        .loading {
          opacity: .75;
        }
      }
    }
  }
}
