.module-card {
  background-color: #fff;
  border: 1px solid $border-grey;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

  .module-card-header {
    padding: 20px;
    border-bottom: 1px solid $border-grey;
    display: flex;
    position: relative;

    .title {
      margin: 0;
      font-size: 18px;
      line-height: 1.5;
      color: inherit;
    }

    .toggle-wrap {
      margin-left: auto;
      display: flex;
      align-items: center;

      .dashicon {
        animation-name: spin;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      div {
        margin-bottom: 0;
        margin-left: 5px;
      }

      span {
        margin-right: 0;
      }
    }
  }

  &.active .neve-pro-notice {
    background-color: $obfx-purple;
    color: #fff;
    padding: 15px 22px;
    margin-top: 10px;
    border-radius: 6px;

    display: flex;
    justify-content: space-between;

    a {
      background-color: inherit;
      color: inherit;
      border: 2px solid #fff;
      border-radius: 2px;
      padding: 0 20px;
      text-decoration: none;
      white-space: nowrap;

      display: flex;
      align-items: center;
    }

    p {
      font-size: 15px;
      margin: 0.75em 0;
    }
  }

  .neve-pro-notice {
    display: none;
    animation: 1s notice-appear;

    a {
      opacity: 0;
      animation: .2s .3s forwards content-appear;
    }
  }

  .module-card-content {
    padding: 20px;

    .description {
      margin: 0;
      font-size: 15px;
      color: #616161;
    }
  }
}

@keyframes notice-appear {
  from { max-height: 0; }
  to { max-height: 100px; }
}

@keyframes content-appear {
  from { opacity: 0; }
  to { opacity: 1; }
}
